<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">



    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <h2>Code Types</h2>
            <a class="btn btn-primary btn-lg" th:href="@{/codes/codeTypeAdd}" th:text="Add" ></a>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 80px;">Code Type</th>
                        <th style="width: 150px;">English Description</th>
                        <th style="width: 150px;">French Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="codeType : ${codeTypes}">

                        <td><a th:href="@{/codes/codeValues(id=${codeType.codeTypeId})}" th:text="${codeType.codeTypeId}" ></a></td>
                        <td th:text="${codeType.englishDescription}"></td>
                        <td th:text="${codeType.frenchDescription}"></td>
                    </tr>
                </tbody>
            </table>    




            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
