<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">



    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    <body>

        <div class="container">
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>

            <h2>Login</h2>

            
             <form  th:object="${user}" action="(Not used)" th:action="@{/authenticate}" method="post">
                <div class="container" >
                    <!--<h2 th:text="#{application.name}">Name</h2>-->                    
                    <!--<img th:src="@{/resources/images/canescampwebsitebanner.jpg}" src=".....canescampwebsitebanner.jpg" alt="Camps" style="width:304px;height:228px;"></img>-->
                    <!-- Login credentials-->
                    <br/>
                    <p class="error" th:text="${message}"></p>
                    <p><label for="username">Username:</label><input id="username" type="text" th:field="${user.username}" maxlength="100"/></p>
                    <p><label for="username">Password:</label><input id="password" type="password" th:field="${user.password}" maxlength="100"/></p>
                    <p><button class="btn btn-primary btn-lg" type="submit">Login</button></p>
                </div>
            </form>

            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>

</html>
