<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">



    <head th:replace="fragments/headTag :: headTag">
        <title> </title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div style="text-align: center;" class="container"  >            
            <img src="../../resources/images/information.jpg" th:src="@{/resources/images/information.jpg}" />
            <label>
                <span th:text="${message}">...</span>
            </label>
        </div>

        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>

    </body>

</html>
