<!DOCTYPE html>
<!--
Tentative view of search page. Have to figure out what object to pass in
Ewen Noble November 21/17
-->
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">


    <head th:replace="fragments/headTag :: headTag">
        <title> </title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>


        <div class="container" >            
            <h1>Under development</h1>
        </div>


            <div class="container">
                      <h2>Camper</h2>

            <form th:object="${camper}" action="addSubmit.html" th:action="@{/camper/addSubmit}" method="get" class="form-horizontal">
                <input type="hidden" th:field="${camper.id}"/>
                <fieldset>
                    <table class="table table-striped">
            
                        <tr>
                            <th>Date/Time</th>
                            <td><input type="text" name="dob" th:value="${camper.dob}" maxlength="100"/>
<!--                                <span class="error" th:each="err : ${#fields.errors('dob')}" th:text="${err}">Input is incorrect</span>
                                <span class="error" th:each="message : ${messages}" th:text="${message}"></span>-->
                            </td>
                        </tr>
                        <tr>
                            <th>Court Type</th>
                            <td>
                                <select name="campType">
                                    <option th:each="theType : ${session.CourtTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">types here</option>
                                </select>

                            </td>
                        </tr>
                    </table>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
                </fieldset>
            </form>
            </div>
    </body>

</html>
