<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">



    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <h2>Courts</h2>

            <form th:object="${court}" action="editSubmit.html" th:action="@{/courts/editSubmit}" method="get" class="form-horizontal">
                <input type="hidden" th:field="${court.courtId}"/>
                <p class="error" th:text="${message}"></p>
                <fieldset>
                    <table class="table table-striped">
                        <!--                        <tr>
                                                    <th>Court ID</th>
                                                    <td><input type="text" name="courtId" th:value="${court.courtId}" maxlength="100"/>
                                                        <span class="error" th:each="err : ${#fields.errors('firstName')}" th:text="${err}">Input is incorrect</span>
                                                    </td>
                                                </tr>-->
                        <tr>
                            <th>Court Type</th>
                            <td><input type="text" name="courtType" th:value="${court.courtType}" maxlength="100"/>
                                <!--<span class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Input is incorrect</span>-->
                            </td>
                        </tr>

                        <tr>
                            <th>Created By</th>
                            <td><input type="text" name="createdUserId" th:value="${court.createdUserId}" maxlength="100" readonly=""/>
<!--                                <span class="error" th:each="err : ${#fields.errors('dob')}" th:text="${err}">Input is incorrect</span>
                                <span class="error" th:each="message : ${messages}" th:text="${message}"></span>-->
                            </td>
                        </tr>

                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>
    </body>

</html>