<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">



    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <!--<h2>Courts</h2>-->
            <!--<a class="btn btn-primary btn-lg" th:href="@{/courts/a}" th:text="Add" ></a>-->

            <form  th:object="${court}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <div class="container" >

                    <div class="container" >            
                        <h2>Courts</h2>
                        <a class="btn btn-primary btn-lg" th:href="@{/courts/add}" th:text="Add" ></a>

                        <table   id="theData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">id</th>
                                    <th style="width: 150px;">Court Type</th>
                                    <th style="width: 150px;">Created Date Time</th>
                                    <th style="width: 150px;">Created By</th>
                                    <th style="width: 150px;">Updated Date Time</th>
                                    <th style="width: 150px;">Updated By</th>
                                    <th style="width: 150px;"></th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="court : ${courts}">
                                    
                                        <td th:text="${court.courtId}"></td>
                                        <!--<td th:text="${court.courtType}"></td>-->
                                        <span th:each="value: ${values}" 
                                          th:object="${values}"
                                          th:if="${court.courtType} == ${value.codeValueSequence}">
                                        <td th:text="${value.englishDescription}"></td>
                                    </span>
                                        <td th:text="${court.createdDateTime}"></td>
                                        <td th:text="${court.createdUserId}"></td>
                                        <td th:text="${court.updatedDateTime}"></td>
                                        <td th:text="${court.updatedUserId}"></td>
                                        <td><a class="btn btn-primary btn-lg" th:href="@{/courts/edit(id=${court.courtId})}" th:text="Edit" ></a>
                                            <a class="btn btn-primary btn-lg" th:href="@{/courts/delete(id=${court.courtId})}" th:text="Delete" ></a></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>



                </div>
            </form>




            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
