<!DOCTYPE html>


<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head><title></title></head>
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>Project<small>&nbsp;SPA</small></h1>
            </div>

<!--<<<<<<< HEAD-->
            <div th:if="${session.loggedInUser != null}" class="navbar-inner" >
<!--                <ul  class="nav">

                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                    </li>
                    
                    <li class="dropdown" id="menuResources">
                        <ul class="dropdown-menu">
                            <li><a href="/" th:href="@{/}"><i class="icon-th-list"></i>Database Details</a></li>                            
                            <li><a href="../codes/codeTypes.html" th:href="@{/codes/codeTypes.html}"><i class="icon-th-list"></i>Code Types</a></li>                 
                            <li><a href="../users/users.html" th:href="@{/users/list.html}"><i class="icon-th-list"></i>Users</a></li>   
                        </ul>
                    </li>
                </ul>-->
<!--=======-->
            <div class="navbar-inner" >
                <!--                <ul  class="nav">
>>>>>>> 46d101c396097e264bb52ba8590c3024d12474dc
                
                                    <li class="dropdown" id="menuResources">
                                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                                            <b class="caret"></b>
                                        </a>
                                    </li>
                                    
                                    <li class="dropdown" id="menuResources">
                                        <ul class="dropdown-menu">
                                            <li><a href="/" th:href="@{/}"><i class="icon-th-list"></i>Database Details</a></li>                            
                                            <li><a href="../codes/codeTypes.html" th:href="@{/codes/codeTypes.html}"><i class="icon-th-list"></i>Code Types</a></li>                 
                                            <li><a href="../users/users.html" th:href="@{/users/list.html}"><i class="icon-th-list"></i>Users</a></li>   
                                        </ul>
                                    </li>
                                </ul>-->

                <ul  class="nav">
                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Admin/Booking
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/booking/search" th:href="@{/booking/search}"><i class="icon-th-list"></i>Book Court</a></li> 
                            <li><a href="/booking/myBookings" th:href="@{/booking/myBookings}"><i class="icon-th-list"></i>My Bookings</a></li>   
                            <li><a href="/courts/list" th:href="@{/courts/list.html}"><i class="icon-th-list"></i>Court List</a></li>              
                            <li><a href="/booking/search" th:href="@{/booking/search}"><i class="icon-th-list"></i>Book Court</a></li>          
                            <!--<li><a href="../codes/codeTypes.html" th:href="@{/codes/codeTypes.html}"><i class="icon-th-list"></i>Code Types</a></li>-->                 
                            <li><a href="/schedule/list" th:href="@{/schedule/list.html}"><i class="icon-th-list"></i>Schedule</a></li>
                            <li><a href="../users/users.html" th:href="@{/users/list.html}"><i class="icon-th-list"></i>Users</a></li>   
                            <li><a href="/logout" th:href="@{/logout}"><i class="glyphicon glyphicon-log-out"></i>&nbsp;Logout</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="../other/help" th:href="@{/other/help}"><i class="icon-question-sign"></i>Help</a></li>
                    <li class="divider"></li>
                    <li><a href="../other/about" th:href="@{/other/about}"><i class="icon-log-out"></i>About</a></li>
                </ul>
            </div>
            </div>
        </div>
    </body>
</html>