<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">



    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>

        <div class="container" >            

            <h2>Schedule</h2>

            <form th:object="${schedule}" action="addSubmit.html" th:action="@{/schedule/addSubmit}" method="get" class="form-horizontal">
                <input type="hidden" th:field="${schedules.scheduleId}"/>
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Schedule Start Time</th>
                            <td><input type="text" name="startTime" th:value="${schedules.startTime}" maxlength="100"/>
                                <!--<span class="error" th:each="err : ${#fields.errors('lastName')}" th:text="${err}">Input is incorrect</span>-->
                            </td>
                        </tr>
                        <tr>
                            <th>Schedule End Time</th>
                            <td><input type="text" name="endTime" th:value="${schedules.endTime}" maxlength="100"/>
<!--                                <span class="error" th:each="err : ${#fields.errors('dob')}" th:text="${err}">Input is incorrect</span>
                                <span class="error" th:each="message : ${messages}" th:text="${message}"></span>-->
                            </td>
                        </tr>

                    </table>
                    <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>
                </fieldset>
            </form>
            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>
    </body>

</html>