<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">



    <head th:replace="fragments/headTag :: headTag">
        <title></title>
    </head>
    <body>


        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>





        <div class="container" >            

            <!--<h2>Schedule</h2>-->
            <!--<a class="btn btn-primary btn-lg" th:href="@{/schedules/a}" th:text="Add" ></a>-->

              <form  th:object="${schedules}" action="sayHello (Not used)" th:action="@{/sayhello}" method="get">
                <div class="container" >

                    <div class="container" >            
                        <h2>Schedule</h2>
                        <a class="btn btn-primary btn-lg" th:href="@{/schedule/add}" th:text="Add" ></a>
                        
                        <table   id="theData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">id</th>
                                    <th style="width: 150px;">start Time</th>
                                    <th style="width: 150px;">End Time</th>
                                    <th style="width: 150px;">Created Time</th>
                                    <th style="width: 150px;">Created By</th>
                                    <th style="width: 150px;">Updated Time</th>
                                    <th style="width: 150px;">Updated By</th>
                                    <th style="width: 150px;"></th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="schedule : ${schedules}">

                                    <td th:text="${schedule.scheduleId}"></td>
                                    <td th:text="${schedule.startTime}"></td>
                                    <td th:text="${schedule.endTime}"></td>
                                    <td th:text="${schedule.createdDateTime}"></td>
                                    <td th:text="${schedule.createdUserId}"></td>
                                    <td th:text="${schedule.updatedDateTime}"></td>
                                    <td th:text="${schedule.updatedUserId}"></td>
                                    <td><a class="btn btn-primary btn-lg" th:href="@{/schedule/edit(id=${schedule.scheduleId})}" th:text="Edit" ></a>
                                        <a class="btn btn-primary btn-lg" th:href="@{/schedule/delete(id=${schedule.scheduleId})}" th:text="Delete" ></a></td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>



                </div>
            </form>




            <div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>


        </div>






    </body>

</html>
