<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
        <title> </title>
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
       <form  th:object="${booking}" action="sayHello (Not used)" th:action="@{/booking/search}" method="get">
                <div class="container" >             
                        <h2>Here's all your court bookings</h2>
<!--                        <a class="btn btn-primary btn-lg" th:href="@{/booking/add}" th:text="Add" ></a>-->
                        <table id="theData" class="table table-striped">
                            <thead>
                                <tr>
                                    <th style="width: 150px;">Court ID</th>
                                    <th style="width: 150px;">Booking Start Times</th>    
                                    <th style="width: 150px;">Booking Date</th>  
                                    <th style="width: 150px;">Opponent Id</th>  
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="booking : ${bookings}">
                                    <td th:text="${booking.courtId}"></td>
                                    <td th:text="${booking.bookingStartTime }"></td>
                                    <td th:text="${booking.bookingDate}"></td>
                                    <td th:text="${booking.opponent}"></td>
                    </tr>
                                
                            </tbody>
                        </table>    
                    </div>
            </form>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>