<!DOCTYPE html>
<!--
Tentative view of search page. Have to figure out what object to pass in
Ewen Noble November 21/17
-->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
        <title>Book Your Court</title>
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container" >            
            <h1>Book a court</h1>
            <h4>Bookings are for 40 mins</h4>
            <p class="error" th:text="${message}"></p>
        </div>
        <div class="container">
<img th:src="@{/images/raquetball_java.jpg}" src="/images/raquetball_java.jpg" alt="Courts" style="width:304px;height:228px;"></img>
            <form th:object="${booking}" action="results.html" th:action="@{/booking/submitSearch}" method="get" class="form-horizontal">
                <!--                <input type="hidden" th:field="${booking.bookingID}"/>-->
                <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <th>Date/Time</th>
                            <td><input id="datetime" type="date" name="bookingDate" th:field="${booking.bookingDate}" /></td>
                        </tr>
                        <tr>
                            <th>Court Type</th>
                            <td>
                                <select name="courtType">
                                    <option th:each="theType : ${session.courtTypes}" th:value="${theType.codeValueSequence}" th:text="${theType.englishDescription}">types here</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <th>Opponent</th>
                              <td>
                                <select name="opponent">
<!--                                    <option value="">Choose Your Oppnenent</option>-->
                                    <option th:each="user : ${session.users}" th:value="${user.userId}" th:text="${user.username}" >Opponent</option>
                                </select>
                            </td>
                        </tr>
                      
                    </table>
                <div style="text-align: left;" class="form-actions" th:if="${message}!='Can only have 2 future bookings'">
                    <button class="btn btn-primary btn-lg" type="submit">Submit</button>
                </div>
                <div th:include="fragments/footer" th:remove="tag">
                </div>
                </fieldset>
            </form>
        </div>
    </body>
</html>
